#navBar {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    margin-bottom: 20px;

}

#navBar ul {
    list-style-type: none;
  }


#navBar-left {
    align-items: center;
    justify-content: left;
}

#navBar-right {
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;
}
