#navBar {
    display: flex;
    justify-content: space-between;

}

#navBar ul {
    list-style-type: none;
  }


#navBar-left {
    align-items: center;
    justify-content: left;
}

#navBar-right {
    align-items: center;
    justify-content: flex-end;
}
