.hidden {
    display: none
}

.dropdown-icon {
    font-size: 2rem;
    cursor: pointer;
}

/* This stretches across, change size of li or only apply to text */
.dropdown-icon-small {
    cursor: pointer
}
